@import 'fonts';

//Variables
$off-white: #D8CCCC;

body{
    background-color:#111;
    color: $off-white;
}

header{
    height: 6rem;
    background-color:#111;
    .menu{
        display: flex;
        justify-content: flex-end;
        max-width: 62rem;
        margin: 0 auto;
    }
    ul{
        display: flex;
        justify-content: space-around;
        li{
            margin-top: 3rem;
            margin-bottom: 2rem;
            a{
                padding-right:1rem;
                text-decoration: none;
                color:$off-white;
                font-family: Raleway;
                font-weight: 600;
                &:hover{
                    color:#808080;
                }
            }
        }
    }
}

.main{
    min-height: calc(100vh - 256px);
}

.container{
    max-width: 62rem;
    margin: 0 auto;
    h2{
        font-size: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-family: Raleway;
        padding-left: 1rem;
    }
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    a{
        padding-right: 1rem;
        padding-left: 1rem;
        text-decoration: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    img{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
    
.six{
    display: flex;
    flex-wrap: wrap;
    .thumbnail{
        width: 10rem;
        height: 16rem;
        overflow: hidden;
    }
}

footer{
    display: flex;
    justify-content: center;
    ul{
        margin-top:3rem;
        margin-bottom: 1rem;
        display: flex;
        li{
            color: $off-white;
            font-family: Raleway;
            font-weight: 600;
            font-size: 1rem;
            padding-top: 0.7rem;
            padding-right: 0.5rem;
            padding-left: 0.5rem;
            a{
                color: $off-white;
            }
        }
    }
}

@media screen and (max-width: 989px) and (min-width: 747px){
    .page-title{
        text-align: center;
    }
    .container h2{
        font-size: 1.8rem;
    }
    .gallery{
        justify-content: center;
    }
}

@media screen and (max-width: 746px) and (min-width: 505px){
    .page-title{
        text-align: center;
    }
    .container h2{
        font-size: 1.8rem;
    }
    .gallery{
        justify-content: center;
    }
    footer ul{
        flex-direction: column;
    }
}

@media screen and (max-width: 505px){
    .menu{
        font-size: 0.9rem;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        ul{
            justify-content: center;
            margin-bottom: 1rem;
            li{
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                a{
                    padding-right:1rem;
                    text-decoration: none;
                    color:$off-white;
                    font-family: Raleway;
                    font-weight: 600;
                    &:hover{
                        color:#808080;
                    }
                }
            }
        }
    }
    .container{
        margin-top: 3rem;
    }
    .page-title{
        display: none;
    }
    .gallery{
        justify-content: center;
    }
    footer ul{
        flex-direction: column;
    }
}
